@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/////// FONT FAMILY ////////
$head-font: 'Racho', cursive;
$para-font: 'Raleway', sans-serif;

////// FONT SIZE ////////
$header-size: 3.5em;
$link-size: 1em;
$alt-header: 2em;
$alt-header-size: 2.8em;

$para-small: 1em;
$para-size: 1.2em;
$alt-para-size: 1.9em;

///// SPACING //////
$line-space: 1.3em;
$alt-line-space: 2em;

$letter-space: .12em;
$word-spacing: .1em;

/////// COLORS ///////
$prime-color: #321A37;
$secondary-color: #9966cc;
$white: #fff;

//////// lINEAR-GRADIENT /////////
$cover: linear-gradient($secondary-color, $white);
$rev-cover: linear-gradient($white, $secondary-color);
$switch: linear-gradient(to right bottom, $secondary-color, $prime-color);
$gradient-primary: linear-gradient(180deg, rgba(59, 35, 93, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
$gradient-secondary: linear-gradient(122.32deg, rgba(229, 229, 229, 0.75) 0%, rgba(59, 35, 93, 0.75) 100%);

////// Button CSS //////
$btn-width: 110px;
$btn-height: 35px;
$btn-radius: 5px;
$btn-border: none;

h1, h2, h3 {
  font-family: $head-font;
}

.btn {
  color: $prime-color;
}

.navigation {
  background: $prime-color;
}

// Navigation
.navbar {
  height: 75px;

  .navbar-brand img {
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 30px;
    position: absolute;
    top: 30px;
    border: medium solid $prime-color;
    z-index: 9999;
  }

  .nav-link {
    color: white !important;
    font-size: $link-size;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
  }

  .nav-link:hover {
    color: #9966cc !important;
  }
}

.card {
  border: none;
}

// Jumbotron
.jumbotron {
  background-size: cover;   
  background-repeat: no-repeat; 
  background-position: center center;
  border-radius: 0;
  height: 400px;
  margin-bottom: 0px;

  .display-3 {
    font-family: $para-font;
    // font-weight: bold;
    color: white;
    text-align: center;
  }

  .lead {
    font-weight: bold;
    color: white;
    text-align: center;
  }

  hr {
    width: 30% ;
    border-top: 5px double white;
  }

  .btn {
    background-color: #3B235D !important;
    color: white;
    border-color: white;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
  }

  .btn:hover {
    background-color: transparent !important;
    border-color:#3B235D;
    color: #3B235D;
  }
}

// Homepage
#home {
  .jumbotron {
    background-image: $gradient-primary, url(./assets/images/wide-angle_kindful.jpg);
    height: 600px;

    .display-3 {
      padding-top: 120px;
    }
  }

  #home-about {
    padding: 70px 0px;
    background-color: black;
    color: white;
  
    .container {
      align-self: center;
    
      h2 {
        font-family: 'Raleway', sans-serif;
      }
    }
  }

  #home-events {
    background: linear-gradient(122.32deg,rgba(59, 35, 93, 0.75) 100%, rgba(229, 229, 229, 0.75) 0%);
    padding: 70px 0px;
    text-align: center;
  
    h2 {
      margin-bottom: 25px;
      color: white;
      font-family: 'Raleway', sans-serif;
    }

    .card {
      margin-bottom: 25px;
    }
  }

  #home-contact {
    padding: 50px 0px;
    background-image: $gradient-secondary, url(./assets/images/wide-angle_kindful.jpg);   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
  
    p {
      color: white;
      font-size: $alt-header;
      font-family: 'Raleway' sans-serif;
    }
  
    button {
      box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
      background-color: #3B235D !important;
      color: white;
      border-color: white;
    }
  
    button:hover {
        background-color: transparent !important;
        border-color:#3B235D;
        color: #3B235D;
    }
  }

  #home-organizers {
    margin: 50px 0px;
    text-align: center;

    h2 {
      font-family: $para-font;
    }

    h3 {
      font-family: $para-font;
    }
  }
}

///// Events Page /////
#events {
  font-family: $para-font;

  .jumbotron {
    background: $gradient-primary, url(https://res.cloudinary.com/fletchlab/image/upload/y_100/v1588020688/theblackcodes/website_images/image5_eiy8u2.jpg);
    background-position: center top;
    background-size: cover;
    border-radius: 0 !important;
    height: 400px;
  }
  
  h1 {
    font-weight: 500;
    font-family: $para-font;
    padding: 50px 0px;
  }

  h2 {
    padding: 50px 0px;
    font-family: $para-font;
  }

  h4 {
    font-weight: 300;
  }

  .date {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
  }
}

#about {
  #the-then {
    padding: 50px 0px;
    background-color: black;
    color: white;

    h2 {
      text-align: center;
      font-family: $para-font;
      font-size: $header-size;
      margin-bottom: 40px;
    }

    h3 {
      text-align: justify;
      font-family: $para-font;
      line-height: 1.5em;
    }
  }

  #background-video {
    width: 100%;
    height: 400px;

    .video {
      width: 100%;
      height: 100%;
    }

    .content {
      position: absolute;
      top: 75px;
      color: #f1f1f1;
      background-color: rgba(0, 0, 0, 0.3);
      font-family: $para-font;
      width: 100%;
      height: 400px;
      text-align: center;
      padding: 0px;

      h1 {
        font-size: 4.5em;
        padding-top: 120px;
      }

      h1, h3 {
        font-family: $para-font;
      }

      hr {
        border: 1px double white;
        width: 30%;
      }
    }
  }

  #the-now {
    .about-img {
      background-image: url(./assets/images/portrait.jpg);
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: 50% 100%;
    }
  
    .about-info {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    h2 {
      font-family: $para-font;
      font-size: $header-size;
      margin: 40px 0px;
      text-align: center;
    }
    
    p {
      font-family: $para-font;
      font-size: $alt-header;
      line-height: 1.2em
    }
  }

  .mission-state {
    background-image: linear-gradient(180deg, rgba(59, 35, 93, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(./assets/images/wide-angle_kindful.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 50px 0px;
  
    h2 {
      font-size: $header-size;
      font-family: $para-font;
      margin: 10px 0px;
      color: white;
    }
  
    p {
      font-family: $para-font;
      font-size: $alt-header;
      color: white;
    }
  }

  #reasons {
    font-family: $para-font;
    text-align: center;

    h2 {
      text-align: center;
      font-family: $para-font;
    }

    .who-are-we, .what-we-do, .why-we-do, .how-we-do {
      padding: 100px 50px;
    }

    .who-are-we {
      background-color: #DCD6F7;
    }

    .what-we-do {
      background-color: #E5ECF4;
    }

    .why-we-do {
      background-color: #EFFFFA;
    }

    .how-we-do {
      background-color: #C5AFA4;;
    }
  }
}

///// Contact Page /////
#contact {
  font-family: $para-font;
  text-align: center;
  letter-spacing: 5px;

  .jumbotron {
    background: $gradient-primary, url(https://res.cloudinary.com/the-black-codes/image/upload/v1588213236/web-images/IMG_2075_ghqibc.jpg);
    background-position: center top;
    background-size: cover;
    border-radius: 0;
    height: 400px;
  }

  .contact-info {
    padding-top: 15%;
    background-color: black;
    color: white;
  }

  .form-group {
    text-align: left;
  }

  h3 {
    font-family: $para-font;
    padding-bottom: 15px;
  }

  h5 {
    font-family: $para-font;
  }

  .newsletter {
    width: 550px;
    height: 550px;
    border: none;
  }
}

// Footer
.page-footer {
  background-color: $prime-color;
  color: white;

  a {
    color: white;
  }

  a:hover {
    color: #9966cc;
  }

  .newsletter {
    border: none;
    width: 400px;
    height: 550px;
    background-color: transparent;
  }

  .footer-copyright {
    background-color: $secondary-color;
  }
}


////////////// We Do Section //////////////
.section {
  // height: 50vh;
  // margin: 70px 0 60px 0;
  background-color: #f5f5f5;
  
  h2 {
    font-size: $alt-header-size;
    padding: 70px 0 60px 0;
    
  }
  P {
    font-size: $alt-para-size;
    font-weight: 600;
  }
}

/* At the top level of your code */
@media screen and (max-width: 480px) {
  .navbar-brand img {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 5px;
    position: absolute;
    top: 25px;
    border: medium solid $prime-color;
  }

  .navbar-nav {
    background-color:rgba($color: $prime-color, $alpha: 0.5);
  }

  .display-3 {
    font-size: 2.5em !important;
  }


  .about-img {
    background-image: none;
  }
}


@media screen and (max-width: 850px) {
  #home-contact {
    height: 90vh;
  }
}

